{
  "root": true,
  "extends": "standard",
  "globals": {
    "test": true,
    "expect": true,
    "afterEach": true
  },
  "rules": {
    "space-before-function-paren": 0,
    "indent": 0,
    "comma-dangle": 0,
    "spaced-comment": 0
  }
}
