/* Dark Mode */

.body.dark {
  color: #fafafa;
  background: #18181b;

  pre code {
    background: transparent;
  }

  .shiki {
    border-radius: 4px;
  }

  code {
    color: rgba(255, 255, 255, 0.85);
    background: rgba(0, 0, 0, 0.84);
  }

  .anchor svg path {
    fill: white;
  }

  h1,
  h2,
  h3,
  h5,
  h4,
  h6,
  p,
  a {
    color: #fafafa;
  }

  table,
  tr,
  td {
    background-color: #161618;
  }

  table {
    tbody {
      tr {
        &:not(:last-of-type) {
          border-bottom: 1px solid #27272a;
        }
      }
    }
    thead {
      th {
        background-color: #27272a;
      }
    }
  }
}
