

/* GENERAL  */

html,
body,
.body,
#oranda {
  @apply w-full min-h-full m-0 p-0 scroll-smooth;
  color: var(--text);
  
  background-color: var(--bg);
}

body {
  font-family: var(--sans-serif-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .body {
    @apply pt-10 pb-16;
  }

  .container {
    @apply m-auto;
    width: 1100px;
    max-width: 80%;
  }
}

a {
  color: var(--link);
}

nav a, .anchor svg path {
  color: var(--text);
}

iframe {
  @apply my-5;
}

/* CODE */

code {
  @apply rounded-md leading-5;
}

/* TEXT */

.text-center {
  @apply justify-center;
}


li {
  @apply mt-2;
}

a {
  @apply underline;
}

blockquote {
  @apply text-2xl italic leading-5 break-words p-0 pl-10 mt-12 mb-8;
  color: var(--text-800);
}

mark,
.highlighted {
  background: #7dffb3;
}

::selection {
  background-color: lavender;
  color: var(--text);
}

/* HEADER */

header {
  @apply flex items-center justify-center flex-col p-0 mb-5;

  .logo {
    @apply my-5;
    max-width: 300px;
  }

  h1 {
    @apply capitalize;
  }
}



h1,
h2,
p,
i,
a {
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3 {
  @apply flex items-center;

  > a {
    @apply mt-0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
  font-family: var(--serif-font);

}

.anchor {
  @apply pr-2 m-0;
}

.body.dark .shiki-light, .body.axo .shiki-light {
    @apply hidden;
}

.body.light .shiki-dark {
    @apply hidden;
}

#oranda .body pre:not([class]) {
  @apply pl-0 m-0 bg-transparent;
}


.shiki {
  @apply p-4 rounded;
}


table,
tr,
td {
  @apply border-collapse;
  background-color: var(--table-bg);
}

table {
  @apply rounded-lg;
  tbody {

    td,
    th {
      @apply p-4;
    }

    tr {
      &:not(:last-of-type) {
        border-bottom: 1px solid var(--table-border);
      }

      td:first-child {
        @apply font-semibold;
      }
    }
  }

  thead {
    th {
      @apply p-4;
      background-color: var(--table-header-bg);
      color: var(--table-bg);

      a {
        color: var(--table-bg);
      }

    }
  }
}
