.tabs {
  @apply flex flex-wrap items-stretch justify-center max-w-lg mt-5 mb-20 mx-auto;

  .tab {
    @apply grow w-full h-full hidden p-4 order-9;
    background-color: var(--table-header-bg);
    color: var(--text-light);

    pre {
      @apply m-0;
    }

    a {
      color: var(--text-light);
    }

    .description {
      @apply m-0 text-xs;
      color: var( --text-light);
    }
  }

  label {
    @apply flex justify-center items-center p-4 cursor-pointer font-bold capitalize m-0 text-xl;
    background-color: var(--table-bg);
    transition: background ease 0.3s;
    box-shadow: var(--shadow-elevation-medium);

    a {
      @apply m-0 no-underline;
    }
  }

  input[type='radio'] {
    @apply hidden;

    &:checked + label {
      background-color: var(--table-header-bg);
      color: var(--text-light);

      a {
        color: var(--text-light);
      }

      & + .tab {
        @apply block;
      }
    }
  }
}

@media (max-width: 465px) {
  .tabs label {
    @apply w-full;
  }
}
